table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

tr {
  border: 1px #5B5B5B solid;
}

td {
  color: white;
}

td:nth-child(1) {
  border: 1px #5B5B5B solid;
}

td.type {
  font-weight: bold;
  text-align: right;
}

td.typeImage {
  text-align: center;
}

td.randomizeButton {
  text-align: center;
}

body {
  background-color: #0b0b0b;
}

button {
  background-color: gray;
  border: 3px white solid;
  padding: 15px 32px;
  text-alight: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.div {
  margin: auto;
  text-align: center;
}